.container-principal{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #e5e5e5;
}

.imagem-principal{
    width: 280px;
    height: 290px;  
    position: relative;
    z-index: 1;
    right: 17%;
}
.items .item {
    background-image: url(../img/seta-desativada.png);
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: top 8px right 0;
    margin: 10px 0;
    cursor: pointer;
}

.conteudo{
    position: absolute;
    width: 655px;
    height: 350px;
    background-color: #fff;
    padding: 60px 40px 60px 230px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 8px 9px 18px -11px rgba(0,0,0,0.75);
}

.conteudo .titulo{
    font-size: 2.5rem;
    padding-bottom: 15px;
    font-weight: 900;
}

.conteudo .pergunta{
    font-size: 1.7rem;
    padding: 20px 0px 20px 0px;
    transition: .5s;
}
.conteudo .pergunta:hover{
    color: #f14624;
}
.conteudo .resposta{
    font-size: 1.5rem;
    display: none;
    padding-bottom: 10px;
}

.items .item.ativo .resposta{
    display: block;
}
.items .item.ativo{
    background-image: url(../img/seta-ativada.png);
}
